*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1270px;
    margin: auto;
}

nav {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 20px;
    background: chocolate;
    padding: 10px 20px;
}

nav li:hover {
    background: #000;
    transition: .3s;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li:hover a {
    transition: .3s;
}

/* footer */
.footer {
    text-align: center;
}

.hero-container {
    display: flex;
    background-color: lightgreen;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.hero-container img {
    height: 400px;
    width: 100%;
}

